<form action='/contacts' method='post'>
  <label for='name'>Name</label>
  <input name='name' value='<%= @new_contact %>'>
  <button type='submit' name='submit'>Submit</button>
</form>

<a href='/contacts'>Back</a>
