
<form action='/contacts' method='post'>
  <label for='name'>Name</label>
  <input name='name' value="<%= params['name'] %>"><br><br>

  <label for='phone' placeholder='000 000-0000'>Phone</label>
  <input name='phone' value="<%= params['phone'] %>"><br><br>

  <label for='email'>Email</label>
  <input name='email' value="<%= params['email'] %>"><br><br>

  <button type='submit' name='submit'>Submit</button>
</form>

<a href='/contacts'>Back</a>
